{% extends "base.html" %}
{% block content %}
<body>

        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

            <nav class="uk-navbar uk-margin-large-bottom">
                <a class="uk-navbar-brand uk-hidden-small" href="{{ url_for('index') }}">Should I cite?</a>
                <ul class="uk-navbar-nav uk-hidden-small">
                    {% for page, (f_name, caption) in pages.items() %}
                    <li {% if what == page %} class="uk-active"{% endif %}>
                        <a href="{{ url_for('index', what=page) }}">{{ caption }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>

            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-4-5 uk-row-first">

                    {{ content }}

                </div>

                <div class="uk-width-medium-1-5"></div>

            </div>

        </div>

</body>
{% endblock %}
